* {
  box-sizing: border-box;
}
body {
  background-color: #121212;
  color: #b566ffde;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continer {
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
  width: 70%;
  height: 70vh;
}
